<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>
	  <run>
	  <include name="functional"></include>
	  </run>
      </groups>
    <classes>
      <class name="Grouping.LoginTests"/>
      <methods>
      	  <include name="loginByFacebook"></include>

      </methods>
      <class name="Grouping.SignupTests"/>
      <class name="Grouping.PaymentTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
